/*
*        MarkupCSS 2 - AceiusIO   
*     https://acei.us/#MarkupCSS-2
* Licenced under GNU GPL v3.0 or later
*/

@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

/* Basic Formatting */

.mk-bold {
    font-weight: bolder;
}

.mk-bolder {
    font-weight: bold;
}

.mk-itallic {
    font-style: italic;
}

.mk-underline {
    text-decoration: underline;
}

.mk-strikethrough {
    text-decoration: line-through;
}

/* Text Alignment */

.mk-align-center {
    text-align: center;
}

.mk-align-left {
    text-align: left;
}

.mk-align-right {
    text-align: right;
}

/* Font Sizing */

.mk-script .exponent {
    vertical-align: super;
    font-family: serif;
}

.mk-script .super {
    vertical-align: super;
}

.mk-script .sub {
    vertical-align: sub;
}

.mk-smaller {
    font-size: 50%;
}

.mk-small {
    font-size: 75%;
}

.mk-large {
    font-size: 125%;
}

.mk-larger {
    font-size: 150%;
}

/* Highlights */

.mk-highlight .red {
    background-color: tomato;
}

.mk-highlight .orange {
    background-color: orange;
}

.mk-highlight .yellow {
    background-color: yellow;
}

.mk-highlight .green {
    background-color: greenyellow;
}

.mk-highlight .blue {
    background-color: cyan;
}

.mk-highlight .purple {
    background-color: darkorchid;
}

.mk-highlight .blackout {
    background-color: black;
    color: black;
}

.mk-highlight .barcode {
    font-family: 'Libre Barcode 39 Text', cursive;
    color: black;
}

.mk-rounded {
    border-radius: 2px;
    padding: 2.5px;
}    

/* Standard Coloring */

.mk-color .red {
    color: tomato;
}

.mk-color .orange {
    color: orange;
}

.mk-color .yellow {
    color: yellow;
}

.mk-color .green {
    color: greenyellow;
}

.mk-color .blue {
    color: cyan;
}

.mk-color .purple {
    color: darkorchid;
}

.mk-color .black {
    color: black;
}

/* Common Websafe Fonts */

.mk-font .arial {
    font-family: Arial, sans-serif;
}

.mk-font .calibri {
    font-family: Calibri, sans-serif;
}

.mk-font .helvetica {
    font-family: Helvetica, sans-serif;
}

.mk-font .mono {
    font-family: monospace;
}

.mk-font .sans {
    font-family: sans-serif;
}

.mk-font .serif {
    font-family: serif;
}

/* Interactive */

.mk-button {
    font-family: 'Ubuntu';
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    color: #2e2e2c;
    display: block;
    border: 0;
}

.mk-button:hover {
    background-color: lightgray;
    font-family: 'Ubuntu';
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    color: #2e2e2c;
    display: block;
    border: 0;
}

/* Divs */

.mk-header {
    border-color: lightgray;
    border-bottom: 1px;
}